.Logo {
  background-image: url("https://imgur.com/srwxbTg");  
  height: 12vmin;
  width: 12vmin;
  display: inline-block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}